.toolbox {
  width: 400px;
  border: 1px solid #CCC;
  height: 100vh;
  overflow: scroll;
  padding:20px;
}

.workViewWrapper {
  flex: 1;
  padding: 20px;
}

.workView {
  border: 1px solid #CCC;
  min-height: 100vh;
  transform-origin left top;

  *:hover {
    border: 1px dashed red;
  }

  div {
    min-height:30px;
    border: 1px dashed #CCC;
  }

  img {
    max-width: 100%;
  }
}
